<div class="card relative flex justify-center mt-10">
    <img draggable="false" class="bg w-[80%] sm:w-[100%]" src="/assets/bg.png" alt="Network problem">
    <div class="absolute top-[15%] left-[20%] sm:top-[3.33rem] sm:left-[4.78rem] flex items-center gap-[5%] sm:gap-16">
        <div class="w-[28%] sm:w-[190px]">
            <img draggable="false" class="rounded-full" src="/assets/<%= img %>" alt="Network problem">
        </div>
        <div class="flex flex-col items-center gap-3">
            <h2 class=" text-white font-bold text-2xl sm:text-3xl"><%= name %></h2>
            <h4 class=" text-orange-400 sm:text-2xl"><%= role %></h4>
            <h6 class=" text-gray-400 sm:text-2xl"><%= nationality %></h6>
        </div>
    </div>
    <div class=" text-gray-500 absolute bottom-[40px] text-3xl sm:text-4xl">
        MADE BY RADIN
    </div>
</div>